# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.mypy_cache/
.~lock.*

# Environment
venv/

# Python
*.pyc
*.swp
__pycache__

# data
output/
!output/.gitkeep

data/
!data/.gitkeep

# notebooks
notebooks/
.ipynb_checkpoints/

# models
models/

# Temp files
doc/
junk*
