# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.mypy_cache/
.~lock.*

# Environment
venv/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/

# data
output/
!output/.gitkeep

data/
!data/.gitkeep

# Temp files
old/
junk*
