<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Traiter</title>
<style>
{% include 'html_writer.css' -%}
</style>
</head>
<body>
<h1>Traiter <span>{{ now }}</span></h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Family</th>
      <th>Taxon</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td><button class="toggle closed" title="Show or hide the extractions"></button></td>
      <td>
        {{ row.family.capitalize() }}<hr/>
        <span class="smaller">({{ row.flora_name }})</span>
      </td>
      <td>
        <a href="{{ row.link }}"
            target="_blank" rel="noopener noreferrer">
          {{ row.taxon }}
        </a>
      </td>
      <td class="text">{{ row.text | safe }}</td>
    </tr>
      {% for label, trait in row['traits'].items() %}
      <tr>
        <td colspan="2"></td>
        <td>{{ label | safe }}</td>
        <td>{{ trait | safe }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
</body>
</html>
