body, table {
  margin: 40px;
}

h1 > span {
  font-size: 20px;
  float: right;
  margin-right: 12px;
}

h2 {
  margin-left: 40px;
}

.c1 { background: #00FFFF66; }
.c2 { background: #00000066; }
.c3 { background: #0000FF66; }
.c4 { background: #FF00FF66; }
.c5 { background: #80808066; }
.c6 { background: #00800066; }
.c7 { background: #00FF0066; }
.c8 { background: #80000066; }
.c9 { background: #00008066; }
.c10 { background: #80800066; }
.c11 { background: #80008066; }
.c12 { background: #FF000066; }
.c13 { background: #C0C0C066; }
.c14 { background: #00808066; }
.c15 { background: #ffa50066; }
.c16 { background: #FFFF0066; }
.bold { font-weight: bold; }

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f0f0f0;
}

td, th {
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
  text-align: left;
}

.pager-container {
  margin: 40px;
}

.pager-container label {
  margin-left: 8px;
}

.pager-container .max-page {
  margin-right: 8px;
}

.pager {
  min-width: 80px;
  width: 80px;
  text-align: center;
  font-size: 20px;
}

.text {
  min-width: 340px;
}

.smaller {
    font-size: small;
}
