<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Traiter</title>
<style>
{% include 'html_writer.css' -%}
</style>
</head>
<body>
<h1>Traiter <span>{{ now }}</span></h1>
<table>
  <thead>
    <tr>
      <th>Family</th>
      <th>Taxon</th>
      {% for header in headers %}
        <th>{{ header | safe }}</th>
      {% endfor %}
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>
        {{ row.family.capitalize() }}<hr/>
        <span class="smaller">({{ row.flora_name }})</span>
      </td>
      <td>
        <a href="{{ row.link }}"
            target="_blank" rel="noopener noreferrer">
          {{ row.taxon }}
        </a>
      </td>
      {% for trait in traits %}
        <td>{{ row[trait] | safe }}</td>
      {% endfor %}
      <td class="text">{{ row.text | safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>
