body, table {
  margin: 40px;
}

h1 > span {
  font-size: 20px;
  float: right;
  margin-right: 12px;
}

h2 {
  margin-left: 40px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

button.toggle {
  padding: 0 4px;
}

button.toggle:before {
  content: '\2013';
}

button.toggle.closed:before {
  content: '+';
}

tr {
  animation: fadein 1s;
}

tr.closed {
  animation: fadeout 1s;
  display: none;
}


table {
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f0f0f0;
}

td, th {
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
  text-align: left;
}

.sub-header {
  background-color: #eeeeee;
  font-weight: 500;
}

.bold { font-weight: bold; }

.c0 { background: #621B1888; }
.c1 { background: #E3342F88; }
.c2 { background: #F9ACAA88; }

.c3 { background: #613B1F88; }
.c4 { background: #F6993F88; }
.c5 { background: #FCD9B688; }

.c6 { background: #684F1D88; }
.c7 { background: #FFED4A88; }
.c8 { background: #FFF9C288; }

.c9 { background: #1A473188; }
.c10 { background: #38C17288; }
.c11 { background: #A2F5BF88; }

.c12 { background: #1C3D5A88; }
.c13 { background: #3490DC88; }
.c14 { background: #BCDEFA88; }

.c15 { background: #2F365F88; }
.c16 { background: #6574CD88; }
.c17 { background: #B2B7FF88; }

.c18 { background: #6F213F88; }
.c19 { background: #F66D9B88; }
.c20 { background: #FFBBCA88; }

.c21 { background: #606F7B88; }
.c22 { background: #B8C2CC88; }
